<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3-ns" "pr3-ns" }} mb4 mb0-ns w-100 w-20-ns">
		  <span class="fw1 athelas mt0" id="date">
      </div>

      <div class="blah w-80-ns {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr3-ns" "pl3-ns" }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">
			<span id="summary">
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
			<span id="description">
        </div>
      </div>
    </div>
  </div>
</article>
