<ul id="next-gigs">
</ul>

<ul id="past-gigs">
</ul>

<template id="event-row">
    {{ partial "event-row-template.html" }}
</template>

<script>
    icsUri = "{{ .Get "ics" }}"
    const DATETIME_MED = {
      year: "{{ .Get "year" }}" || "numeric",
      month: "{{ .Get "month" }}" || "short",
      day: "{{ .Get "day" }}" || "numeric",
      hour: "{{ .Get "hour" }}" || "numeric",
      minute: "{{ .Get "minute" }}" || "numeric",
    };
    const eventRowTemplate = document.querySelector('#event-row');
    const loadingEventRow = {"description": "Loading upcoming gigs...", "summary": ""};
    const noEventRow = {"description": "No upcoming gigs", "summary": ""};

    async function main() {
        let events = [];
        if (icsUri) {
             events = await getEvents(icsUri);
        }
        let nextGigsUl = document.getElementById("next-gigs");
        showEvents(nextGigsUl, events.futureEvents);
	    eventsHistory = Number({{ .Get "history" }} || 0)

	    if (eventsHistory) {
	        let pastGigsUl = document.getElementById("past-gigs");
	    	pastEvents = events.pastEvents.slice(0, eventsHistory)
	    	if (pastEvents.length) {
		        showEvents(pastGigsUl, pastEvents);
	        }
        }
    }

    async function showEvents(ul, events) {
        ul.append(makeEventRow(loadingEventRow));
        ul.replaceChildren(events.length == 0 ? makeEventRow(noEventRow) : "");
        events.forEach(function(event) {
            ul.append(makeEventRow(event));
        });
    }

    function makeEventRow(eventInfo){
        const eventRow = eventRowTemplate.content.cloneNode(true);
        eventRow.getElementById("summary").innerText = escapeBackslash(eventInfo.summary)
        eventRow.getElementById("description").innerText = escapeBackslash(eventInfo.description)
        if (eventInfo.startDate){
            eventRow.getElementById("date").innerText = eventInfo.startDate.toLocaleString(DATETIME_MED);
        }
        return eventRow;
    }

    function escapeBackslash(str){
        return str.replace(/(?:\\(.))/g, '$1');
    }

    main();

</script>
